/* ****************************HEADER****************************** */

*{
  box-sizing: border-box;
  margin: 0;
}

.header{ 
  padding: 30px 0 30px 0;
  background: black;
  color: aliceblue;
  text-align: center;
}

header h1{
  display:inline;
  margin-left: 15px;
  font-weight:300;
}

/* ****************************SEARCH****************************** */

.search {
  text-align: center;
  margin-top: 2rem;
  
}
  
/* ****************************SEARCH****************************** */

.card {
 width: 18rems;
 text-align: center;

}